.u-section-1 {
  background-image: none;
  min-height: 608px;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 1px;
  margin-bottom: 1px;
  min-height: 607px;
  animation-duration: 1000ms;
  height: auto;
  background-image: none;
}